---
---
// color themes for item bg color (autogen by Colormind.io)
$color-item-1: #64a669;
$color-item-2: #f6a51d;
$color-item-3: #186186;
$color-item-4: #84928c;
$color-item-5: #989b2a;

// overriding Bootstrap's default vars
$font-size-base: 17px;
$font-family-sans-serif: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
//$text-color: #333;
$headings-color: #222;
$thumbnail-border-radius: 0;

$border-radius-base:        0px !default;
//$border-radius-large:       0px !default;
//$border-radius-small:       0px !default;

@import "bootstrap";
@import "bootstrap-block-grid/bootstrap3-block-grid";
//@import "bourbon/bourbon";

@import url(//fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);
/*@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);*/
/*@import url('http://api.mobilis.co.kr/webfonts/v2/css/NanumGothicWeb');*/

//@include font-face("Nanum Gothic", "//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold");

@import "base";
@import "layout";
@import "content";
@import "list";
@import "extras";
