---
layout: page
title: Articles
hide_title: true
permalink: /articles/
sitemap:
  priority: 0.8
  changefreq: weekly
  lastmod: 2017-04-26
---
<div class="page-header">
  <h2>Articles</h2>
</div>

<ul class="sub-menu list-inline">
  <li role="presentation"><a href="/categories.html"><i class="fa fa-bars" aria-hidden="true"></i> Categories</a></li>
  <li role="presentation"><a href="/archive.html"><i class="fa fa-archive" aria-hidden="true"></i> Archive</a></li>
</ul>

<ul class="posts articles list-unstyled">
  {% for post in site.posts %}
    <li class="item">
      <div class="media">
        {% if post.thumbnail %}
          <a class="pull-left" href="{{post.url}}">
            <img class="media-object" src="{{post.thumbnail}}" width="120" alt="">
          </a>
        {% endif %}
        <div class="media-body">
          <h5 class="media-heading"><a href="{{post.url}}">{{post.title}}</a></h5>
          <small class="meta">{{ post.date | date_to_string }}</small>
          <p>{{post.description}}</p>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
