---
layout: nil
title: 404 - Not Found
---
{% include system_head.html %}
<body class="{{ page.layout }}">
	<div id="page">
		{% include header.html %}
		<div id="main" role="main">
			<article class="the-article">
			<div class="article-inner">
				<div class="content">
					<header>
					<div class="head-inner">
						<h1>{{ page.title }}</h1>
					</div>
					</header>
					<div class="bd">
						<p>죄송합니다. 요청하신 문서를 찾을 수 없습니다.</p> 
						<h3>혹시 이것을 찾으셨나요?</h3>
						<ul class="recent">
							{% for post in site.posts limit:10 %}
							<li><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			</article>
		</div><!-- id="main" -->
		{% include footer.html %}
	</div><!-- id="page" -->
	{% include system_foot.html %}
</body>
</html>
