<div class="page-header">
  <h2>{{ include.title | default: "Articles" }}</h2>
</div>

<ul class="posts list-unstyled">
  {% for post in site.categories[include.category] limit:5 %}
    {% if forloop.index == 1 %}
    <li>
      <div class="media">
        <a class="pull-left" href="{{post.url}}">
          <img class="media-object" src="{{post.thumbnail}}" width="120" alt="">
        </a>
        <div class="media-body">
          <h6 class="media-heading"><a href="{{post.url}}">{{post.title}}</a></h6>
          <small class="">{{ post.date | date_to_string }}</small>
          <p>
            {{post.description}}
          </p>
        </div>
      </div>
    </li>
    {% else %}
    <li><h6><a href="{{ post.url }}">{{ post.title }}</a> <small>| {{ post.date | date_to_string }}</small></h6></li>
    {% endif %}
  {% endfor %}
</ul>

<div class="more">
  <a href="/articles/" class="more">More &raquo;</a>
</div>
