<div class="page-header">
  <h2 class="title">Recent Articles</h2>
</div>

<ul class="posts list-unstyled">
  {% for post in site.posts limit:5 %}
    <!-- <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li> -->
    {% if forloop.index == 1 %}
    <li>
      <div class="media">
        <a class="pull-left" href="{{post.url}}">
          <img class="media-object" src="{{post.thumbnail}}" width="120" alt="">
        </a>
        <div class="media-body">
          <h5 class="media-heading"><a href="{{post.url}}">{{post.title}}</a></h5>
          <small class="">{{ post.date | date_to_string }}</small>
          <p>{{post.description}}</p>
        </div>
      </div>
    </li>
    {% else %}
    <li><h5><a href="{{ post.url }}">{{ post.title }}</a> <small>| {{ post.date | date_to_string }}</small></h5></li>
    {% endif %}
  {% endfor %}
</ul>

<!--a href="/archive.html" class="btn btn-default btn-sm">더보기</a-->
