{% include hero_title.html 
  name="home" title="Useful Paradigm" 
%}

<div class="page-header">
  <h2>Services & Solutions</h2>
</div>

<ul id="services" class="grid list-unstyled">
{% for service in page.services %}
  <li class="item item--{{ forloop.index }}" data-animate="zoomInx">
    <a href="{{ service.link }}" class="item__content" data-animate-hover="pulse">
      <span class="item__icon">{{ service.icon }}</span>
      <h5 class="item__content__title">{{ service.title }} <small>{{ service.subtitle }}</small></h5>
    </a>
  </li>
{% endfor %}
</ul>
