{% if page.jumbotron %}
<div class="jumbotron">
  <h2>{{ page.jumbotron.title }}</h2>
  <p>{{ page.jumbotron.body }}</p>
  {% if page.jumbotron.link %}
    <a class="btn btn-primary" role="button">Learn more</a>
  {% endif %}
</div>
{% endif %}


<!-- <div class="page-header">
  <h2>Services & Solutions</h2>
</div> -->

<ul class="services grid list-unstyled">
{% for service in page.services %}
  <li class="item {{ service.name }} {{ service.item_class }}">
    <div class="item-content" style="background: {{ service.item_bg_color }};">
      <h5 class="item-content_title">{{ service.title }} <small>{{ service.subtitle }}</small></h5>
    </div>  
  </li>
{% endfor %}
</ul>
