<!--div class="page-header">
  <h2>{{ include.title | default: "Works" }}</h2>
</div-->

<section class="siema-wrap">
  <div id="{{ include.name }}-references" class="{{ include.name }} references block-gridx-xs-2 block-gridx-sm-3 block-gridx-md-2 siema">
  {% for entry in include.data %}
    <div class="itemx item--{{ forloop.index }}x">
      <!-- <a href="{{ entry.url }}" class="item__content" target="_blank"> -->
        {% if entry.url %}
          <a href="{{ entry.url }}" target="_blank">
            <div class="thumbnail"><img src="{{ entry.screenshot }}" alt="{{ entry.title }}"></div>
          </a>  
        {% else %}
          <div class="thumbnail"><img src="{{ entry.screenshot }}" alt="{{ entry.title }}"></div>
        {% endif %}
        <h5 class="title">{{ entry.title }}</h5>
        <p class="description">{{ entry.description }}</p>
      <!-- </a> -->
    </div>
  {% endfor %}
  </div>

  {% if include.data.size > 1 %}
  <div class="buttons text-center">
    <button class="siema-prev btn btn-primary btn-sm">&laquo; prev</button>
    <button class="siema-next btn btn-primary btn-sm">next &raquo;</button>
  </div>        
  {% endif %}
</section>