<!-- <div class="page-header">
  <h2>{{ include.title | default: "Services & Solutions" }}</h2>
</div> -->

<ul id="services" class="grid list-unstyled without-{{include.without}}">
{% for service in site.data.services.all %}
  <li class="item item--{{ forloop.index }} {{service.name}}" data-animate="zoomInx">
    <a href="{{ service.link }}" class="item__content" data-animate-hover="pulse">
      <span class="item__icon">{{ service.icon }}</span>
      <h5 class="item__content__title">{{ service.title }} <small>{{ service.subtitle }}</small></h5>
    </a>
  </li>
{% endfor %}
</ul>

<div id="solutions">
{% for s in site.data.services.solutions %}
  <a class="box {{ s.name }}" href="{{ s.link }}" target="_blank">
    <div class="item" style="background-color: {{s.color}};">
      <div data-animate-hover="pulse">
        <h3 class="title">{{ s.title }}</h3>
        <p class="description">{{ s.description }}</p>  
      </div>  
    </div>
  </a>  
{% endfor %}
</div>  