<h4>about</h4>
<p class="about justify">
  <strong><a href="/">유스풀패러다임</a></strong>은
	진화하는 웹 및 인터넷 기술에 기반하여 보다 많은 사람들에게 보다 유용한 인터넷 서비스와 솔루션을 제공하는 징검다리가 되고자 합니다.
</p>
<!-- <g:plus href="https://plus.google.com/115107364790115869238" size="badge"></g:plus> -->
<g:plus href="https://plus.google.com/115107364790115869238" size="smallbadge"></g:plus>

<h4>business area</h4>
<ul>
	<li>
		소셜 웹 개발
	</li>
	<li>
		인터넷 비즈니스 컨설팅
	</li>
	<li>
		오픈소스 기술지원
	</li>
</ul>	


<a href="https://twitter.com/usefulparadigm" class="twitter-follow-button">Follow @twitterapi</a>
<script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>	

<!-- <div class="fb-like-box" data-href="http://www.facebook.com/upsoft" data-width="292" data-show-faces="false" data-border-color="#fff" data-stream="false" data-header="false"></div> -->
<div class="fb-like" data-href="http://usefulparadigm.com" data-send="false" data-width="450" data-show-faces="false"></div>

<!-- <h4>service & solutions</h4>
<ul id="services" class="unstyled">
<li>
<a title="platanustree" style="margin-left: 10px;" href="/pltree">
<img width="140" height="30" src="/img/sub/pltree.gif" alt="platanustree">
</a>
</li>		
<li>
<a title="tokpot" style="margin-left: 10px;" href="/tokpot">
<img width="60" height="40" src="/img/sub/tokpot.gif" alt="tokpot">
</a>
</li>
<li>
<a title="TeamupBox" href="/teamupbox">
<img width="180" height="45" src="/img/sub/teamupbox.gif" alt="TeamupBox">
</a>
</li>
<li style="margin: 2px 0 0 10px;">
	<a title="jigso" href="http://jigso.heroku.com">
		<img width="110" height="38" src="/img/sub/jigso.png" alt="jigso">
	</a>
</li>
<li>
<a title="zi2" href="/zi2">
<img width="70" height="35" src="/img/sub/zi2.gif" alt="zi2">
</a>
</li>
</ul> -->

<h4>contact</h4>
<p>
	<a href='http://usefulparadigm.com'>유스풀패러다임</a> 110-702 서울 종로구 공평동 100<br /> 
	제일은행본점빌딩 2044호 <span>T.</span> (02) 720 5059<br />
	<a href='mailto:contact@usefulparadigm.com'>contact@usefulparadigm.com</a>
</p>


<hr />
<!-- Ads & Banners & -->
<p>
	<a href="http://cookinfacebook.com"><img src="http://farm8.staticflickr.com/7033/6625294423_17a4a3f23f.jpg" /></a>
</p>	

<!-- <script src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 5,
  interval: 30000,
  width: 300,
  height: 300,
  theme: {
    shell: {
      background: '#ffffff',
      color: '#333333'
    },
    tweets: {
      background: '#ffffff',
      color: '#555555',
      links: '#679a01'
    }
  },
  features: {
    scrollbar: false,
    loop: false,
    live: true,
    behavior: 'all'
  }
}).render().setUser('usefulparadigm').start();
</script> -->