// content.scss

// posts list
.posts {
  .media-body p {
    font-size: 0.95em;
  }
}

.posts .item:not(:last-of-type) {
  border-bottom: 1px solid #eee;
  margin-bottom: 1em;
}

// page & hero title

.page .grid {
  margin: 0;
  max-width: 100%;
  .item {
    width: 100%;
    padding-bottom: 40%;
    &__content {
      background-color: transparent;
      .title { color: #fff; }
      p { color: #eee; }
    }
  }
  &#webdev { 
//    background-color: $color-item-1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url('/img/hero-webdev.jpg');
    background-size: 100%;
  } 
  &#martech .item__content { 
//    background-color: $color-item-2;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url('/img/hero-martech.jpg');
    background-size: 100%;
  } 
  &#wordpress .item__content { 
//    background-color: $color-item-3;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url('/img/hero-wordpress.jpg');
    background-size: 100%;
  } 

  @media screen and (max-width: 960px)  {
    .item { padding-bottom: 25%; }
  }

  @media screen and (max-width: 640px)  {
    .item { padding-bottom: 40%; }
  }

  @media screen and (max-width: 375px)  {
    .item { padding-bottom: 60%; }
  }

}


// article

article {
  h1 { font-size: 2em; }
  h2 { font-size: 1.8em; }
  h3 { font-size: 1.6em; }
  h4 { font-size: 1.4em; }
  h5 { font-size: 1.2em; }
  h6 { font-size: 1.1em; }
  
//  .page-header h1 {
//    font-family: 'NanumGothicWeb', 'Nanum Gothic', sans-serif;
//  }
}

article.post, article.page {
  line-height: 1.6;
}

article.post header {
  p {
    font-size: 0.9em;
    font-style: italic;
    text-align: right;
  }
}

article.post footer {
  font-size: 0.9em;
  font-style: italic;
  text-align: right;
  .section-title {
//      font-weight: normal;
      display: inline;
      font-size: inherit;
      padding-right: 5px;
  }
  ul {
      display: inline;
      list-style: none;
      padding:0;
      li {
          display: inline;
          margin-right: 5px;
          span { display: none; }
      }
  }
}

//article footer p.gotop {
//  margin-top: 10px;
//  margin-bottom: 0;
//  font-size: 14px;
//  font-style: normal;
//  text-align: left;
//}


