// content.scss

// posts list
.posts {
  .media-body p {
    font-size: 0.95em;
  }
}

.posts .item:not(:last-of-type) {
  border-bottom: 1px solid #eee;
  margin-bottom: 1em;
}

// page & hero title

.hero.grid {
  margin: 0;
  max-width: 100%;
  // /w waitForImages
  opacity: 0;
  transition: all 2s;
  .item {
    width: 100%;
    padding-bottom: 40%;
    &__content {
      background-color: #fff; //transparent;
      background-size: 100%;
      // https://stackoverflow.com/a/26996468
      &.fixed-bg {
            background-position: center top, center -50px; // padding from the top!
//            background-size: cover;
            background-attachment: scroll;
      }
      .title { font-size: 1.8em; color: #fff; opacity: 1; }
      p { 
        color: #eee; opacity: 1; padding: 0 20px; line-height: 1.4;
        @media screen and (max-width: 375px)  {
          padding: 0;
        }
      }
//      .animated { opacity: 1; }
//      br { line-height: 1.6; }
    }
  }
  &#home {
    background-image: url('/img/hero-home.jpg'); // fallback for OLD browsers
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url('/img/hero-home_4.jpg');
    background-size: cover;
    background-position: center top, center; // padding from the top!
    background-attachment: scroll;
  }
  &#home .item__content { 
    background-color: transparent;
//    background-image: url('/img/hero-home.jpg'); // fallback for OLD browsers
//    background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.6)), url('/img/hero-home.jpg');
    // Logo
    .title {
      font-family: 'Lato', sans-serif;
      font-weight: 900;
//      color: #111;
    }
//    p { color: #333; font-size: 0.9em; }
    strong {
      color: lighten($color-up-green, 20%);
      font-size: 1.2em;
      display: block;
//      line-height: 1.6;
      margin-bottom: 0.5em;
    }
  } 
  &#webdev .item__content { 
//    background-color: $color-item-1;
    background-image: url('/img/hero-webdev.jpg');
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url('/img/hero-webdev.jpg');
  } 
  &#martech .item__content { 
//    background-color: $color-item-2;
  background-image: url('/img/hero-martech.jpg');
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url('/img/hero-martech.jpg');
  } 
  &#wordpress .item__content { 
//    background-color: $color-item-3;
  background-image: url('/img/hero-wordpress.jpg');
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url('/img/hero-wordpress.jpg');
  } 

  @media screen and (max-width: 960px)  {
    .item { padding-bottom: 25%; }
  }

  @media screen and (max-width: 640px)  {
    .item { padding-bottom: 45%; }
  }

  @media screen and (max-width: 375px)  {
    .item { padding-bottom: 55%; }
    .item__content .title {
      font-size: 1.8em;
    }
  }

  @media screen and (max-width: 320px)  {
    .item { padding-bottom: 70%; }
  }

}

// page sub-menu
.page .sub-menu {
  margin-top: -1em;
  padding-bottom: 1em;
}

// article

article {
  h1 { font-size: 1.8em; }
  h2 { font-size: 1.5em; }
  h3 { font-size: 1.3em; }
  h4 { font-size: 1.2em; }
  h5 { font-size: 1.1em; }
  h6 { font-size: 1.0em; }
  
//  .page-header h1 {
//    font-family: 'NanumGothicWeb', 'Nanum Gothic', sans-serif;
//  }
}

article.post, article.page {
  line-height: 1.6;
}

article.post {
  h2,h3,h4,h5,h6 {
    padding-top: 0.8em;
  }
}

article.post header {
  p {
    font-size: 0.9em;
    font-style: italic;
    text-align: right;
  }
}

article.post footer {
  font-size: 0.9em;
  font-style: italic;
  text-align: right;
  .section-title {
//      font-weight: normal;
      display: inline;
      font-size: inherit;
      padding-right: 5px;
  }
  ul {
      display: inline;
      list-style: none;
      padding:0;
      li {
          display: inline;
          margin-right: 5px;
          span { display: none; }
      }
  }
}

//article footer p.gotop {
//  margin-top: 10px;
//  margin-bottom: 0;
//  font-size: 14px;
//  font-style: normal;
//  text-align: left;
//}


