// layout.scss

html {
  overflow-y: scroll;
}

//body {
//  padding: 50px;
//}

.wrapper {
  width: 860px;
  margin: 0 auto;
}

header.main, aside, footer.main {
  width: 270px;
}

header.main {
  float: left;
  position: fixed;
  top: 50px;
}

section.main {
  width: 500px;
  float: right;
  padding-bottom: 50px;
  padding-top: 60px;
}

footer.main {
  float: left;
  position: fixed;
  bottom: 50px;
  text-align: right;
}

aside {
  float: left;
  position: fixed;
//  bottom: 115px;
  top: 270px;
  text-align: right;
  font-size: 0.9em;
}

aside ul {
  list-style: none;
  padding: 0;
  margin-bottom: 12px;
  a {
    line-height: 1.6em;
    display: block;
  }
}

//#logo {
//  background: url(/img/logo-medium.png) no-repeat;
//  text-indent: -9999px;
//  height: 54px;
//  padding: 0;
//  margin: 0;
//}
//#logo a {
//  display: block;
//  height: 100%;
//  overflow: hidden;
//  width: 271px;
//}

#logo {
  text-align: center;
}

#tagline { 
    text-align: center;
    margin: 0 0 1em; 
}

.about {
/*    border-radius: 3px;*/
	padding: 10px;
    /*text-align: justify;*/
	background-color: #ededed;
}

aside .contact {
//  margin-left: 5em;
  .title {
    font-size: 1.1em;
    font-weight: bold;
    color: #4A6F0B;
  }
}

// page title

.page-header {
  &:first-child { margin-top: 0; } 
  h2, .title {
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 1em;
    color: #aaa;
  }
}

// home grid layout

.grid {
  margin-right: 50px;
  max-width: 507px;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  .item {
    width: 25%;
    padding-bottom: 25%;
    float: left;
    position: relative;
    opacity: 0.9;
    transition: opacity 1s;
    &:hover { opacity: 1; }
    &-content {
      display: block;
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
      background: #ccc;
      transition: background-color 2s ease-in;
      padding: 5px 15px;
      margin: 0 3px 3px 0;
      &:hover {
        text-decoration: none;
        font-weight: bold;
//        background: #999 !important;
//        *{ color: #111; }
      }
      &_title {
        color: #fff;
        small { 
          display: block; 
          color: #ddd;
          padding-top: 4px;
        }
      }
    }
    &.item-1 { width: 50%; }
    &.item-4, &.item-5 { width: 33.3%; padding-bottom: 20%; }
  }
  .item-1 .item-content { background: $color-item-1; }
  .item-2 .item-content { background: $color-item-2; }
  .item-3 .item-content { background: $color-item-3; }
  .item-4 .item-content { background: $color-item-4; }
  .item-5 .item-content { background: $color-item-5; }
}

//@media screen and (max-width: 960px), (max-height: 500px)  {
@media screen and (max-width: 960px)  {

  body {
    word-wrap: break-word;
    padding:15px;
  }

  div.wrapper {
    width: auto;
    margin: 0;
  }

  header.main, section.main, footer.main, aside {
    float: none;
    position: static;
    width: auto;
  }

  section.main {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    border-width:0 0 1px;
    padding:20px 0;
    margin:0 0 20px;
  }

  header.main a small {
    display:inline;
  }

  aside {
      text-align: left;
  }

  .grid {
    margin-right: 0;
    max-width: 100%;
    .item {
      width: 20%;
      padding-bottom: 18%;
      &.item-1 { width: 20%; padding-bottom: 18%; }
      &.item-4, &.item-5 { width: 20%; padding-bottom: 18%; }
    }
  }

}  

@media screen and (max-width: 640px)  {

  .grid {
    margin-right: 0;
    max-width: 100%;
    .item {
      width: 50%;
      padding-bottom: 18%;
      &.item-1 { width: 100%; padding-bottom: 18%; }
      &.item-4, &.item-5 { width: 50%; padding-bottom: 18%; }
    }
  }

}

@media screen and (max-width: 375px)  {
    section.main .nav { display: none; }
    section.main .emblem { display: none; }
    section.main .services small { display: block; }
    section.main .solutions small { display: block; }

    .grid {
      .item {
        width: 100%;
        padding-bottom: 25%;
        &.item-1 { width: 100%; padding-bottom: 25%; }
        &.item-4, &.item-5 { width: 100%; padding-bottom: 25%; }
      }
    }
}    

//@media screen and (max-width: 480px) {
//
//  aside {
//      text-align: center;
//  }
//}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}
