// list.scss

.items {
  .title {}
  .description {
    color: #999;
    font-size: 0.9em;
  }
}

// Services & Solutions
.without-webdev .webdev,
.without-martech .martech,
.without-wordpress .wordpress {
  display: none;
}

// solutions

#solutions {
  margin-top: 2.5em;
  display: flex;
  flex-wrap: wrap;
  .box {
    flex: auto;
    width: 33%;
    @media screen and (max-width: 800px)  {
      width: 20%;
    }
    @media screen and (max-width: 640px)  {
      width: 100%;
    }
    &:hover { text-decoration: none; }
    padding: 3px;
  }
  .item {
    height: 100%;
    padding: 1em;
//    filter: grayscale(30%);
    opacity: 0.8;
    &:hover { opacity: 1; }
    color: #fff;
    @media screen and (max-width: 640px)  {
      text-align: center;
    }
    .title {
      font-size: 1em;
  //    font-weight: bold;
      color: #fff;
      margin: 0;
    }
    .description {
      font-size: 0.7em;
      margin: 0;
      color: #ddd;
    }
  }
}


// Resources

.resources {
  list-style: none;
  padding: 0;
	display: flex;
	flex-flow: row wrap;
  .item {
//    &:before {
//      content: ''; float: left; padding-top: 50%;
//    }
  	flex: 50%;
    position: relative;
    height: 120px;
    &__content {
      display: block;
      position: absolute;
      top: 0; bottom: 0; left: 0; right: 0;
      background-color: #ccc;
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      margin: 0 5px 5px 0;
      height: auto;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-size: 150%;
      }
      .title {
        color: #fff;
        background-color: rgba(0, 0, 0, 0.6);
        font-size: 1.1em;
        margin: 5px;
        padding: 3px;
      }
    }
  }
  
//  @media screen and (max-width: 960px)  {
//    .item { flex: 50%; }
//  }
  @media screen and (max-width: 640px)  {
    .item { flex: 100%; }
  }
}


// References

.references {
  .thumbnail { 
    margin: 10px; 
    min-height: 80px;
  }
  .title {
    margin: 0;
    font-size: 1em;
  }
  .description {
    color: #999;
    font-size: 0.8em;
  }
  
}

// Publications

.publications {
  .item {
    display: inline-block;
//    width: 25%;
  }
  .cover img {
    padding: 4px;
    border: 1px solid #ddd;
  }
//  .item:not(:last-of-type) {
//    border-bottom: 1px solid #eee;
//    padding-bottom: 1em;
//    margin-bottom: 1em;
//  }
}

