{% include system_head.html %}
<body class="{{ page.layout }}">
	{% include fb.html %}
	<div id="page" class="container">
		{% include header.html %}
		<div id="main" role="main" class="row">
			<div id="primary" class="span10">
		    <ul class="tabs">
			    <!-- <li class="active"><a href="#">Home</a></li> -->
			    <li class="active"><a class="active" href="#home">Home</a></li>
			    <li><a href="#twitter">Twitter</a></li>
			    <li><a href="#facebook">Facebook</a></li>
		    </ul>
				<div class="pill-content">
					<div class="active" id="home">
						<div class="content">{{ content }}</div>
					</div>
					<div id="twitter">
						<div id="tokpot_container"></div>
						<script type="text/javascript" src="http://tokpot.com/widget/v1/bootstrap.js"></script>
						<script type="text/javascript">
							Tokpot.init({
								site_key: '67ecfcdc68', 
								options: {
									width: '100%', 
									title: '트위터 계정으로 로그인한 후 글을 남겨 주세요.', 
									per_page: 5, 
									hidden_tag: '@usefulparadigm'
								}
							});
						</script>
					</div>	
					<div id="facebook">
						<div class="fb-comments" data-href="usefulparadigm.com" data-num-posts="5" data-width="580"></div>
					</div>	
				</div><!-- pill-content -->
			</div>	
			<div id="sub" class="span6">
				{% include sub.html %}
			</div>	
		</div><!-- id="main" -->
		{% include footer.html %}
	</div><!-- id="page" -->
	{% include system_foot.html %}
</body>
</html>
