{% include system_head.html %}
<body class="{{ page.layout }}">
	{% include fb.html %}
	<div id="page" class="container">
		{% include header.html %}
		<div id="main" role="main" class="row">
			<div id="primary" class="span10">
		    <ul class="tabs">
			    <li class="active"><a href="/#home">Home</a></li>
			    <li><a href="/#twitter">Twitter</a></li>
			    <li><a href="/#facebook">Facebook</a></li>
		    </ul>

				<header class="hd_article">
					<h2>{{ page.title }}
						<small class="meta">
							<date title="{{ page.date | date_to_xmlschema }}">
								<!-- <span class="published">Published: </span> -->
								<span class="day">{{ page.date | date: '%d' }}</span>
								<span class="month"><abbr>{{ page.date | date: '%b' }}</abbr></span>
								<span class="year">{{ page.date | date: '%Y' }}</span>
							</date>
						</small>
					</h2>
				</header>

				<div style="text-align: right;">
				{% include pdf.html %}
				</div>

				<!-- AddThis Button BEGIN -->
				<div class="addthis_toolbox addthis_default_style ">
				<a class="addthis_button_preferred_1"></a>
				<a class="addthis_button_preferred_2"></a>
				<a class="addthis_button_preferred_3"></a>
				<!-- <a class="addthis_button_preferred_4"></a> -->
				<a class="addthis_button_compact"></a>
				<a class="addthis_counter addthis_bubble_style"></a>
				</div>
				<!-- AddThis Button END -->

				<div class="fb-like" data-send="true" data-width="450" data-show-faces="false"></div>
				<!-- <fb:like send="false" width="450" show_faces="false"></fb:like> -->

				<!-- AddThis Button BEGIN -->
				<!-- <div class="addthis_toolbox addthis_default_style ">
				<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
				<a class="addthis_button_tweet"></a>
				<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
				<a class="addthis_counter addthis_pill_style"></a>
				</div> -->
				<!-- AddThis Button END -->

				<article class="the_article">
				<div class="article_inner">
					<div class="content">{{ content }}</div>
				</div>
				</article>

				<!-- AddThis Button BEGIN -->
				<div class="addthis_toolbox addthis_default_style ">
				<a class="addthis_button_preferred_1"></a>
				<a class="addthis_button_preferred_2"></a>
				<a class="addthis_button_preferred_3"></a>
				<!-- <a class="addthis_button_preferred_4"></a> -->
				<a class="addthis_button_compact"></a>
				<a class="addthis_counter addthis_bubble_style"></a>
				</div>
				<!-- AddThis Button END -->

				{% include disqus.html %}

			</div>
			<div id="sub" class="span6">
				{% include sub.html %}
			</div>	
		</div><!-- id="main" -->
		<!-- <nav class="pagenation">
		<ul>
		{% if page.previous %}
			<li class="before left"><a rel="prev" href="{{ page.previous.url }}" class="btn" title="View {{ page.previous.title }}">Before</a></li>
		{% endif %}
		{% if page.next %}
			<li class="next right"><a rel="next" href="{{ page.next.url }}" class="btn" title="View {{ page.next.title }}">Next</a></li>
		{% endif %}
		</ul>
		</nav> -->
		{% include footer.html %}
	</div><!-- id="page" -->
	{% include system_foot.html %}
</body>
</html>
